
version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: smartprice
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://postgres:postgres@db:5432/smartprice

  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
